<a href="https://colab.research.google.com/github/Anwita-exe/learning-python/blob/master/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Adding ten and three

In [1]:
10 + 3

13

display "hello world"

In [2]:
print("Hello World")

Hello World

display some basic maths

In [3]:
print('10 + 3 = ', 10 + 3)
print('10 - 3 = ', 10 - 3)
print('10 / 3 = ', 10 / 3)
print('10 // 3 = ', 10 // 3)
print('10 % 3 = ', 10 % 3)
print('10 * 3 = ',10 * 3)

10 + 3 =  13
10 - 3 =  7
10 / 3 =  3.3333333333333335
10 // 3 =  3
10 % 3 =  1
10 * 3 =  30

Accept User input

In [4]:
name = input("Enter your name: ")
print("Your name is", name)

Enter your name: Anwita Sekhar
Your name is Anwita Sekhar

Create  a program to add two numbers

In [6]:
a = input("Enter the first number ")
b = input("Enter the second number ")

a = int(a)
b = int(b)

print('sum = ', a+b)

Enter the first number 5
Enter the second number 6
sum =  11

Question: Write a program to take in the UserName and accept 5 subject's marks and calculate his total marks.

The 5 subjects are:
1. maths
2. science
3. history
4. geography
5. marathi

Output should be like this:

```
output:
Student Name: Aman Priyanshu
Marks in Maths: 100
Marks in Science: 100
Marks in history: 100
Marks in Geography: 100
Marks in Marathi: 100
Total Marks: 500
```

In [7]:
print("Hi there!")

Hi there!

In [8]:
name=input("Enter your name here:")
print("Hey",name,"! Tell me your marks for the following subjects out of 80:")

Enter your name here:Anwita Sekhar
Hey Anwita Sekhar ! Tell me your marks for the following subjects out of 80:

In [10]:
maths=input("Maths marks:")
science=input("Science marks:")
history=input("History marks:")
geography=input("Geography marks:")
marathi=input("Marathi marks:")

Maths marks:70
Science marks:79
History marks:73
Geography marks:78
Marathi marks:71

In [11]:
maths = int(maths)
science = int(science)
history = int(history)
geography = int(geography)
marathi = int(marathi)

In [12]:
total= maths + science + history + geography + marathi
average= total/5
percentage= (total/400)*100

In [13]:
print("Student name-", name)
print("Marks in Maths-", maths)
print("Marks in Science-", science)
print("Marks in History-", history)
print("Marks in Geography-", geography)
print("Marks in Marathi-", marathi)
print("Your total marks are:", total)
print("Your average marks are:", average)
print("Your total percentage is:", percentage,"%")

Student name- Anwita Sekhar
Marks in Maths- 70
Marks in Science- 79
Marks in History- 73
Marks in Geography- 78
Marks in Marathi- 71
Your total marks are: 371
Your average marks are: 74.2
Your total percentage is: 92.75 %